.todo{
    width: 300px;
    min-height: 432px;
    border-radius: 20px;
    background: #fff;
    margin: auto;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    padding: 0 44px;
    padding-bottom: 30px;
    margin-bottom: 100px;
}


.todo-header{
    margin-top: 30px;
    color: rgb(39, 9, 161);
    font-size: 30px;
    font-weight: 600;
    line-height: 60px;
}

.todo-add{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.todo-input{
    border-radius: 50px;
    background: #caf5f4;
    border: none;
    outline: none;
    width: 306px;
    height: 50px;
    padding-left: 35px;
    font-size: 15px;
}

todo-add-btn{
    

}